In [1]:

import pandas as pd

#load data
df = pd.read_csv('weight-height.csv')

In [4]:
# Analyze Data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [3]:
df.describe()

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [5]:

df.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [6]:
# Convert gender into number
#using Label Encoder

X = df.iloc[:,:-1].values
y = df.iloc[:,2].values


from sklearn.preprocessing import LabelEncoder
labelencoder_gender = LabelEncoder()
X[:,0] = labelencoder_gender.fit_transform(X[:,0])

In [7]:


# Replace directly in dataframe
#df['Gender'].replace('Female',0,inplace=True)
#df['Gender'].replace('Male',0),inplace=True)
#X = df.iloc[:,:-1].values
#y = df.iloc[:,2].values

In [8]:
#Split data

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state = 0)

In [9]:

# Fit Regression Model
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:

# Make Prediction using Test data
lin_pred = lin_reg.predict(X_test)

In [13]:
anand = lin_reg.predict([[0,70.8]])

In [14]:
anand

array([178.16784057])